/*

light blue: hsl(198, 30%, 79%)
navy: hsl(206, 12%, 45%)
charcoal: hsl(0, 2%, 47%)
orange: hsl(22, 79%, 74%)
peach: hsl(40, 96%, 82%)
lemon: hsl(54, 94%, 87%)

*/

/* general styling */
h1, h2 {
	font-family: "Yeseva One", serif;
	font-weight: 400;
}

h3, h4, h5, h6 {
	font-family: "Work Sans", sans-serif;
}

body {
	margin: 0px 70px;
	font-family: "Quicksand", sans-serif;
}

/* header styling */
header {
	text-align: center;
}

header h1 {
	font-family: "Yeseva One", serif;
	font-weight: 400;
}

header p {
	font-family: "Covered By Your Grace", cursive;
	font-size: 23px;
	letter-spacing: 1.5px;
	margin-top: -10px;
}

/* nav styling */
nav ul {
	display: flex;
	justify-content: space-evenly;
}

nav li {
	list-style-type: none;
	display: inline-block;
}